<app-page-template>
  <ngx-ui-loader></ngx-ui-loader>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card border-0">
        <div class="card-header font-weight-bold text-light bg-dark">
          <i class="fa fa-check"></i> Benvenuti in MG BET
        </div>
        <div class="card-body">
          <p>
            Ciao e benvenuto nel sito <i>MG BET.</i><br>
            Siamo un gruppo di ragazzi appassionati di eventi sportivi e questa nostra
            passione nel tempo ci ha portati ad affinare le conoscenze nell'ambito delle scommesse sportive.<br> Ci sono
            in giro tanti "ciarlatani" che promettono facili guadagni e poi propongono come tipologia di scommessa la più
            sbagliata che si possa scegliere per maturare un profitto sicuro:
            <b>la giocata con eventi in multipla</b>.<br>
            Questa tipologia di giocata è l'alleato numero uno dei bookmaker e nel lungo termine porta ad una perdita
            sicura del proprio budget.
            Il nostro consiglio, che poi sarà il metodo base, è di seguire un metodo in progressione basato sui
            raddoppi.<br>
            Come budget iniziale consigliamo, per esperienza,di partire da 100 euro, anche se poi ognuno può decidere
            quale cifra investire senza alcun tipo di problema.<br>
            Le analisi sugli eventi verranno elaborate da un macchinoso algoritmo ogni 15 minuti elabora
            cambiamenti di quota considerando tutti i possibili fattori di
            influenza.<br>
            <b>Una cosa che mi preme dirvi è di mantenere sempre la calma e non esagerare nelle puntate.</b>
            <br>
            Oltre a giorni positivi ci saranno anche giorni negativi, ciò è normale nel mondo del Bet, ma con il
            metodo descritto precedentemente riusciremo sempre a rimanere a galla, l'importante è effettuare le giuste
            puntate.<br>
            Dopo questa presentazione spero che molti di voi seguano le prediction che l'algoritmo calcola e vedrete che
            in breve tempo riusciremo a sconfiggere il nostro unico e vero nemico quotidiano: i BOOKMAKER!!
            <br>
            <b>Buona fortuna!!!!!!!</b>
          </p>
          <footer class="blockquote-footer">In bocca la lupo da <cite title="Source Title">MG Bet</cite></footer>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <i class="fa-history"></i>
    </div>
  </div>
</app-page-template>
