<ion-card class="social-card">
    <ion-card-header>
        <div class="social-title">
            <div class="line"></div>
            <span>I NOSTRI SOCIAL</span>
            <div class="line"></div>
        </div>
    </ion-card-header>

    <ion-card-content>
        <div class="socials-row">
            <a href="https://www.facebook.com/MGBETLIVE/"
               target="_blank"
               rel="noopener"
               class="social-icon facebook">
                <ion-icon src="./assets/fb.svg"></ion-icon>
            </a>

            <a href="https://t.me/mgbet2bot"
               target="_blank"
               rel="noopener"
               class="social-icon telegram">
                <ion-icon src="./assets/telegram.svg"></ion-icon>
            </a>

            <a href="https://www.instagram.com/mgbet20/"
               target="_blank"
               rel="noopener"
               class="social-icon instagram">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>

            <a href="https://mee6.xyz/i/VZK3sEHlMX"
               target="_blank"
               rel="noopener"
               class="social-icon discord">
                <ion-icon src="./assets/discord.svg"></ion-icon>
            </a>
        </div>
    </ion-card-content>
</ion-card>
