<ion-card color="light">
    <ion-card-header color="dark">
        <ion-card-title>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-margin ion-no-padding">
        <ion-list lines="full">
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="8">
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item>
                <ion-grid>
                    <ion-row>
                        <ion-col size="8">
                            <p><ion-skeleton-text animated style="width: 75%"></ion-skeleton-text></p>
                            <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
                        </ion-col>
                        <ion-col size="4"><p><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="8">
                            <p><ion-skeleton-text animated style="width: 75%"></ion-skeleton-text></p>
                            <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
                        </ion-col>
                        <ion-col size="4"><p><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="8">
                            <p><ion-skeleton-text animated style="width: 75%"></ion-skeleton-text></p>
                            <p><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
                        </ion-col>
                        <ion-col size="4"><p><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p></ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
        <ng-content></ng-content>
    </ion-card-content>
</ion-card>
