MONGOURL=mongodb://localhost:27017/mgbet-bot
TELEGRAMTOKEN=719859765:AAHzHI_USpY1kztkVcAUeWfFiGMOATjMkGY
TELEGRAMAPI=https://api.telegram.org
WEBHOOKURL=https://19aacf64.ngrok.io/webhook
APIURL=http://localhost:8080/api
PORT=3000
